{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Pablo first website Application</h1>
    <p>This is a sample Python application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Python @ Heroku platform.</p>
    <a type="button" class="color btn btn-lg btn-default" href="http://www.fue.es/tidcampus/index.asp"><span class="glyphicon glyphicon-flash"></span> Info TID Campus</a>
    <a type="button" class="color btn btn-lg btn-primary" href="https://github.com/pablobtd"><span class="glyphicon glyphicon-download"></span> My GitHub account</a>
  </div>
</div>

{% endblock %}
