{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Pablo first website Application</h1>
    <a type="button" class="color btn btn-lg btn-default" href="http://www.fue.es/tidcampus/index.asp"> Info TID Campus</a>
    <a type="button" class="color btn btn-lg btn-primary" href="https://github.com/pablobtd"> My GitHub account</a>
  </div>
</div>

{% endblock %}
